In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools
import matplotlib.pyplot as plt
import collections

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)
data = data.assign(profit = data.revenue - data.budget)
data['month'] = data['release_date'].str.split('/').apply(lambda x: x[0])
data['title_symb_len'] = data['original_title'].apply(lambda x: len(x))
data['overview_word_len'] = data['overview'].apply(lambda x: len(x.split()))

In [3]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,title_symb_len,overview_word_len
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,15.037057,52.381154
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,8.552660,26.589348
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000,10.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,9.000000,32.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,13.000000,48.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,18.000000,67.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,83.000000,175.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
display(data.original_title[data.budget == data['budget'].max()])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'
# +

In [9]:
display(data.original_title[data.runtime == data['runtime'].max()])

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
display(data.original_title[data.runtime == data['runtime'].min()])

768    Winnie the Pooh
Name: original_title, dtype: object

In [11]:
answers['3'] = 'Winnie the Pooh'
# +

# 4. Какова средняя длительность фильмов?

In [12]:
num_movies = data.original_title.nunique()
display(data['runtime'].sum() / num_movies)

109.77477477477477

In [13]:
answers['4'] = '110'
# +

# 5. Каково медианное значение длительности фильмов?

In [14]:
sorted_runtimes = sorted(data.runtime)
middle_index = int((num_movies / 2) + 0.5)
display(sorted_runtimes[middle_index])

107

In [15]:
answers['5'] = '107'
# +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(data.original_title[data.profit == data['profit'].max()])

239    Avatar
Name: original_title, dtype: object

In [17]:
answers['6'] = 'Avatar'
# +

# 7. Какой фильм самый убыточный?

In [18]:
display(data.original_title[data.profit == data['profit'].min()])

1245    The Lone Ranger
Name: original_title, dtype: object

In [19]:
answers['7'] = 'The Lone Ranger'
# +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
display(len(data[data.revenue > data.budget].index))

1478

In [21]:
answers['8'] = '1478'
# +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
display(data.original_title[data['revenue'] == data[(data.release_year == 2008)].revenue.max()])

599    The Dark Knight
Name: original_title, dtype: object

In [23]:
answers['9'] = 'The Dark Knight'
# +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
display(data.original_title[data['profit'] == data[(data.release_year > 2012) & (data.release_year <= 2014)].profit.min()])

1245    The Lone Ranger
Name: original_title, dtype: object

In [25]:
answers['10'] = 'The Lone Ranger'
# +

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
most_common_genre = collections.Counter(data['genres'].str.cat(sep = '|').split('|')).most_common(1)

display(most_common_genre)

[('Drama', 782)]

ВАРИАНТ 2

In [27]:
answers['11'] = 'Drama'
# +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
most_common_genre_profit = collections.Counter(data['genres'][data.profit > 0].str.cat(sep = '|').split('|')).most_common(1)

display(most_common_genre_profit)

[('Drama', 560)]

In [29]:
answers['12'] = 'Drama'
# +

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
df=data.copy()
df['director'] = df['director'].apply(lambda x: x.split('|'))
data_director = df.explode('director').copy()

sum_revenue_by_director = data_director.groupby('director').apply(lambda x: x.revenue.sum()).sort_values(ascending=False).head(1)

display(sum_revenue_by_director)
del df

director
Peter Jackson    6490593685
dtype: int64

In [31]:
answers['13'] = 'Peter Jackson'
# +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
data_action = data[data.genres.str.contains('Action')].copy()
a=collections.Counter(data_action.director.str.cat(sep='|').split('|')).most_common(1)
display(a)

[('Robert Rodriguez', 9)]

In [33]:
answers['14'] = 'Robert Rodriguez'
# +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
movies_by_year = data[data.release_year == 2012].sort_values('revenue',ascending=False).head(1).copy()
cast_mby = movies_by_year['cast'].str.cat(sep = '|').split('|')

display(cast_mby)

['Robert Downey Jr.',
 'Chris Evans',
 'Mark Ruffalo',
 'Chris Hemsworth',
 'Scarlett Johansson']

In [35]:
answers['15'] = 'Chris Hemsworth'
# +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
movies_top = data[data.budget > data.budget.mean()].copy()
movies_cast = movies_top[:]
movies_cast['cast'] = movies_top['cast'].str.split('|')

most_budget_actor = pd.Series(movies_cast['cast'].sum()).value_counts().head(1)
display(most_budget_actor)

Matt Damon    18
dtype: int64

In [37]:
answers['16'] = 'Matt Damon'
# +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
movies_actor = data[data.cast.str.contains('Nicolas Cage')].copy()
movies_genres = data['genres'].str.split('|').copy()

most_genre_of_NC = collections.Counter(movies_actor['genres'].str.cat(sep = '|').split('|')).most_common(1)
display(most_genre_of_NC)

[('Action', 17)]

In [39]:
answers['17'] = 'Action'
# +

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
movies_PP = data[data.production_companies.str.contains('Paramount Pictures')].copy()
display(movies_PP['original_title'][movies_PP.profit == movies_PP.profit.min()])

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [41]:
answers['18'] = 'K-19: The Widowmaker'
# +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
movies_most_release_year = data.groupby('release_year').revenue.sum()
display(movies_most_release_year.sort_values(ascending=False).head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

In [43]:
answers['19'] = '2015'
# +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
movies_WB = data[data.production_companies.str.contains('Warner Bros')].copy()
movies_WB = movies_WB.groupby('release_year').profit.sum()
display(movies_WB.sort_values(ascending=False).head(1))

release_year
2014    2295464519
Name: profit, dtype: int64

In [45]:
answers['20'] = '2014'
# +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
movies_month = data['month'].value_counts().sort_values(ascending=False).head(1)
display(movies_month)

9    227
Name: month, dtype: int64

In [47]:
answers['21'] = 'Сентябрь'
# +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
display(len(data[data.month == '6'] + data[data.month == '7'] + data[data.month == '8']))

450

In [49]:
answers['22'] = '450'
# +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
movies = data[(data.month == '12') | (data.month == '1') | (data.month == '2')]
winter_director = collections.Counter(movies['director'].str.cat(sep = '|').split('|')).most_common(1)
display(winter_director)

[('Peter Jackson', 7)]

In [51]:
answers['23'] = 'Peter Jackson'
# +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
df=data.copy()
df['production_companies'] = df['production_companies'].apply(lambda x: x.split('|'))
data_pc = df.explode('production_companies')
sum_len = data_pc.groupby('production_companies').apply(lambda x: x.title_symb_len.mean()).sort_values(ascending=False).head(1)

display(sum_len)
del df

production_companies
Four By Two Productions    83.0
dtype: float64

In [53]:
answers['24'] = 'Four By Two Productions'
# +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
df=data.copy()
df['production_companies'] = df['production_companies'].apply(lambda x: x.split('|'))
data_pc_1 = df.explode('production_companies')
sum_len_1 = data_pc_1.groupby('production_companies').apply(lambda x: x.overview_word_len.sum()).sort_values()
longest_overview = data_pc_1.groupby('production_companies')['overview_word_len'].mean().sort_values(ascending=False).head(1)

display(longest_overview)
del df

production_companies
Midnight Picture Show    175.0
Name: overview_word_len, dtype: float64

In [55]:
answers['25'] = 'Midnight Picture Show'
# +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
one_percent_best_movies = data.sort_values('vote_average', ascending=False).head(int(len(data.index) * .01))
display(one_percent_best_movies)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_symb_len,overview_word_len
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,18,46
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,4,49
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,23,29
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,9,30
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,16,61
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,23,28
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45,45
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,7,78
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,9,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,11,39
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,24,66
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12,3,65
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11,9,30
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,10,10,29
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,5,22,47

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
df = data.copy()
df['cast'] = df['cast'].str.split('|')
df['pairs']=df['cast'].apply(lambda x: list(itertools.combinations(x, 2)))
df = df.explode('pairs')
most_common_pairs = collections.Counter(df['pairs']).most_common(1)
display(most_common_pairs)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [59]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

ВАРИАНТ 2

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27